{% extends "item.twig" %}

{% set itemUrl = "//portal.ehri-project.eu/institutions/" ~ id %}

{% block heading %}
    <h2>
        <a target="_blank" href="{{ itemUrl }}" class="external type-highlight Repository">
            {{ attributes.name }}
        </a>
    </h2>
    {% set otherNames = attributes.otherFormsOfName|default([])|merge(attributes.parallelFormsOfName|default([])) %}
    {% if otherNames %}
        <ul class="ehri-item-alternate-names">
            {% for name in otherNames %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block details %}
    <ul class="concise-address">
        {% if attributes.address.country and attributes.address.countryCode %}
            <li>
                <a target="_blank" href="//portal.ehri-project.eu/countries/{{ attributes.address.countryCode|lower }}"
                   class="alt">
                    {{ attributes.address.country }}
                </a>
            </li>
        {% endif %}
        {% if attributes.address.streetAddress %}
            <li>{{ attributes.address.streetAddress }}</li>
        {% endif %}
        {% if attributes.address.city %}
            <li>{{ attributes.address.city }}</li>
        {% endif %}
        {% if meta.updated %}
            <li>Updated {{ meta.updated|time_diff }}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block subitems %}
    <a target="_blank" href="{{ itemUrl }}/search">
        {{ meta.subitems }} archival descriptions available
    </a>
{% endblock %}

