{% set itemUrl = baseUrl ~ "/units/" ~ id %}

{% extends "item.twig" %}

{% block heading %}
    <h2>
        <a target="_blank" href="{{ itemUrl }}" class="external type-highlight {{ type }}">
            {{ attributes.descriptions.0.name }}
        </a>
    </h2>
    {% set otherNames = attributes.descriptions.0.otherFormsOfName|default([])|merge(attributes.descriptions.0.parallelFormsOfName|default([])) %}
    {% if otherNames %}
        <ul class="ehri-item-alternate-names">
            {% for name in otherNames %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block details %}
    <ul>
        {% for item in included %}
            {% if item.type == 'Repository' %}
                <li>
                    <a target="_blank" class="alt"
                       href="{{ baseUrl }}/institutions/{{ item.id }}">{{ item.attributes.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if attributes.descriptions.0.localId %}
            <li>{{ attributes.localId }}</li>
        {% endif %}
        {% if attributes.descriptions.0.language %}
            <li>{{ attributes.descriptions.0.language }}</li>
        {% endif %}
        {% if attributes.descriptions.0.extentAndMedium %}
            <li>{{ attributes.descriptions.0.extentAndMedium|truncate(30) }}</li>
        {% endif %}
        {% if meta.updated %}
            <li>Updated {{ meta.updated|time_diff }}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    {{ attributes.descriptions.0.scopeAndContent|truncate(500) }}
{% endblock %}

{% block subitems %}
    {% set subItemUrl = itemUrl ~ "/search" %}
    <a target="_blank" href="{{ subItemUrl }}>
        {{ meta.subitems }} archival descriptions available
    </a>
{% endblock %}

