{% set itemUrl =  baseUrl ~ "/virtual/" ~ id %}

{% extends "item.twig" %}

{% block heading %}
    <h2>
        <a target="_blank" href="{{ itemUrl }}" class="external type-highlight {{ type }}">
            {{ attributes.descriptions.0.name }}
        </a>
    </h2>
{% endblock %}

{% block details %}
    <ul>
        {% if attributes.descriptions.0.localId %}
            <li>{{ attributes.localId }}</li>
        {% endif %}
        {% if attributes.descriptions.0.language %}
            <li>{{ attributes.descriptions.0.language }}</li>
        {% endif %}
        {% if meta.updated %}
            <li>Updated {{ meta.updated|time_diff }}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    {{ attributes.descriptions.0.scopeAndContent|truncate(500) }}
{% endblock %}

{% block subitems %}
    <a target="_blank" href="{{ itemUrl }}">
        {{ meta.subitems }} child items available
    </a>
{% endblock %}

